.profile {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}

@media all and (max-width: 1000px) {
  .profile {
    top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 500px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.profile .latest_underline {
  position: absolute;
  top: 50px;
  left: 20%;
  width: 668px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  color: lightgrey;
}

@media all and (max-width: 1400px) {
  .profile .latest_underline {
    left: 15%;
  }
}

@media all and (max-width: 1300px) {
  .profile .latest_underline {
    left: 10%;
  }
}

@media all and (max-width: 1200px) {
  .profile .latest_underline {
    left: 5%;
  }
}

@media all and (max-width: 1150px) {
  .profile .latest_underline {
    width: 552px;
  }
}

@media all and (max-width: 1000px) {
  .profile .latest_underline {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
  }
}

@media all and (max-width: 700px) {
  .profile .latest_underline {
    width: 90vw;
    height: 500px;
  }
}

@media all and (max-width: 500px) {
  .profile .latest_underline {
    display: none;
  }
}

.profile .main_video_list {
  position: absolute;
  top: 100px;
  left: 20%;
  width: 668px;
}

@media all and (max-width: 1400px) {
  .profile .main_video_list {
    left: 15%;
  }
}

@media all and (max-width: 1300px) {
  .profile .main_video_list {
    left: 10%;
  }
}

@media all and (max-width: 1200px) {
  .profile .main_video_list {
    left: 5%;
  }
}

@media all and (max-width: 1150px) {
  .profile .main_video_list {
    width: 552px;
    height: 311px;
  }
}

@media all and (max-width: 1000px) {
  .profile .main_video_list {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
  }
}

@media all and (max-width: 700px) {
  .profile .main_video_list {
    width: 90vw;
    height: 500px;
  }
}

@media all and (max-width: 500px) {
  .profile .main_video_list {
    top: 40px;
  }
}

.profile .profile_info {
  border-radius: 5px;
  position: fixed;
  top: 175px;
  left: calc(20% + 700px);
  width: 370px;
  height: 412px;
  background-color: #363d3f;
}

.profile .profile_info img {
  position: relative;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.profile .profile_info h4 {
  position: absolute;
  font-size: 7.5px;
  color: white;
  font-weight: bold;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(20% + 110px);
}

.profile .profile_info span {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 1px;
  left: 0;
  background: white;
}

.profile .profile_info div {
  position: absolute;
  top: 85%;
  height: 15%;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
}

.profile .profile_info div p {
  color: white;
}

@media all and (max-width: 1400px) {
  .profile .profile_info {
    left: calc(15% + 700px);
  }
}

@media all and (max-width: 1300px) {
  .profile .profile_info {
    left: calc(10% + 700px);
  }
}

@media all and (max-width: 1200px) {
  .profile .profile_info {
    left: calc(5% + 700px);
  }
}

@media all and (max-width: 1150px) {
  .profile .profile_info {
    width: 322px;
    height: 392px;
    left: calc(5% + 600px);
  }
}

@media all and (max-width: 1000px) {
  .profile .profile_info {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 700px) {
  .profile .profile_info {
    width: 90vw;
    height: 300px;
  }
}
/*# sourceMappingURL=Profile.css.map */