.main {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}

@media all and (max-width: 1000px) {
  .main {
    top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .main_video_list {
  position: absolute;
  top: 100px;
  left: 20%;
  width: 668px;
}

@media all and (max-width: 1400px) {
  .main .main_video_list {
    left: 15%;
  }
}

@media all and (max-width: 1300px) {
  .main .main_video_list {
    left: 10%;
  }
}

@media all and (max-width: 1200px) {
  .main .main_video_list {
    left: 5%;
  }
}

@media all and (max-width: 1150px) {
  .main .main_video_list {
    width: 552px;
    height: 311px;
  }
}

@media all and (max-width: 1000px) {
  .main .main_video_list {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
  }
}

@media all and (max-width: 700px) {
  .main .main_video_list {
    width: 90vw;
    height: 500px;
  }
}

.main .upload_video {
  border-radius: 5px;
  position: fixed;
  top: 175px;
  left: calc(20% + 700px);
  width: 370px;
  height: 412px;
  background-color: #363d3f;
}

.main .upload_video h5 {
  position: relative;
  top: 2%;
  text-align: center;
  color: white;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid lightgrey;
}

.main .upload_video .middleSection {
  position: absolute;
  top: 15%;
  height: 70%;
  width: 100%;
}

.main .upload_video .middleSection .step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 80%;
  margin-top: 10%;
}

.main .upload_video .middleSection .step p {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.main .upload_video .middleSection .step input[type="file"] {
  display: none;
}

.main .upload_video .middleSection .step .upload_button_label {
  position: relative;
  color: white;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.main .upload_video .middleSection .step .upload_button_label:hover {
  color: #e43f3f;
}

.main .upload_video .middleSection .step input[type="text"] {
  width: 200px;
  height: 40px;
  border: .5px solid grey;
  background: #222222;
  border-color: -internal-light-dark(#767676, #858585);
  outline: 0;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  padding: 10px;
}

.main .upload_video .middleSection .step input[type="text"]:focus {
  border-color: #E30004;
}

.main .upload_video .middleSection .step input[type="text"], .main .upload_video .middleSection .step select, .main .upload_video .middleSection .step .videoName, .main .upload_video .middleSection .step .upload_button_label {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main .upload_video .middleSection .step select {
  outline: 0;
  width: 200px;
  height: 40px;
  font-family: sans-serif;
  padding: 5px;
  font-size: 12px;
  background: #222222;
  color: white;
  padding: 5px;
}

.main .upload_video .middleSection .step select:focus {
  border-color: #E30004;
}

.main .upload_video button {
  position: absolute;
  width: 123px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  border: 0;
  background: #e43f3f;
  font-family: sans-serif;
  color: white;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media all and (max-width: 1400px) {
  .main .upload_video {
    left: calc(15% + 700px);
  }
}

@media all and (max-width: 1300px) {
  .main .upload_video {
    left: calc(10% + 700px);
  }
}

@media all and (max-width: 1200px) {
  .main .upload_video {
    left: calc(5% + 700px);
  }
}

@media all and (max-width: 1150px) {
  .main .upload_video {
    width: 322px;
    height: 392px;
    left: calc(5% + 600px);
  }
}

@media all and (max-width: 1000px) {
  .main .upload_video {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media all and (max-width: 500px) {
  .main .upload_video {
    display: none;
  }
}
/*# sourceMappingURL=Main.css.map */