body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
    --scrollbarBG: black;
    --thumbBG: #e43f3f;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-color: #2d3436;
    scrollbar-color: black;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

#logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transform: scale(3);
}

#background-image {
    position: fixed;
    width: 75%;
    right: 0px;
    top: 0px;
    opacity: .8;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 40px;
    color: white;
    font-family: sans-serif;
}

.dont-display {
    display: none;
}

.blurMe > *:not(.transaction-receipt) {
    animation: blurFor5 5s forwards;
    opacity: .2;
}

@keyframes blurFor5 {
    0% {
        opacity: .5;
    }
    80% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.mainDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

.transaction-receipt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    text-align: center;
    opacity: 1;
    border-radius: 2px;
    animation: unblurFor5 5s forwards;

    p {
        font-family: sans-serif;
        &:nth-child(2) {
            font-size: 10px;
        }
        &:nth-child(3) {
            color: grey;
        }
    }
}

@keyframes unblurFor5 {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}